h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
* {
  box-sizing: border-box;
}
section {
  border: 1px solid black;
  margin-bottom: 20px;
}
.p1,
.p2 {
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  background-color: #aeb6bf;
}
.row {
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg {
    width: 33%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md1 {
    float: left;
    width: 50%;
  }
  .col-md2 {
    float: left;
    width: 100%;
  }
  .p2 {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .col-sm {
    width: 100%;
    float: left;
  }
}
.chicken,
.beef,
.sushi {
  border: 1px solid black;
  float: right;
  height: 30px;
  width: 120px;
  position: relative;
  left: 10px;
  top: -26px;
  margin-bottom: 0px;
  text-align: center;
}
.chicken {
  background-color: gray;
}
.beef {
  background-color: gray;
  //float: right;
}
.sushi {
  background-color: gray;
}
p {
  clear: right;
}
